body{
    background-color: #f4f4f4;
}

nav .menu{
    display: none;
}
nav:hover .menu{
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    background-color: #4d4d4d;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 20px 10px;
}

nav a{
    color: #fff;
    font-size: 18px;
}

.content{
    padding: 10px;
}

h2{
    color: #4d4d4d;
}

.texto p, .item p{
    text-align: justify;
    line-height: 20px;
    padding: 20px 0;
}

.cta-btn{
    background-color: #4d4d4d;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

.cta-btn a{
    color: #fff;

}

.missao,
.visao,
.valores{
    background-color:#ececec;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

#servicos{
    background-color: #4d4d4d;
}

#servicos h2{
    color: #fff
}

#servicos .item{
    width: 47%;
    display: inline-block;
    text-align: center;
    padding: 1%;
    font-size: 14px;
}

#profissionais .item{
    background-color: #ececec;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

#profissionais .imagem{
    background-color: #4d4d4d;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    margin-bottom: 20px;
}

#profissionais .imagem{
    background-color: #4d4d4d;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

#contato label{
    width: 100%;
    display: block;
}

#contato input{
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer{
    background-color: #4d4d4d;
    padding: 50px 0;
    font-size:20px;
    color: #fff;
}

nav .fa-bars{
    float: right;
}

#servicos i{
    font-size: 40px;
    color: #fff;
    padding-top: 20px;
}

#servicos{
    padding: 40px 0;;
}

footer h2{
    color: #fff;
    padding: 20px 0;
}

.menu{
    display: none;
}

@media (min-width:680px){
    .menu-mobile{
        display: none;
    }
    .menu-desktop{
        display: block;
        color: #fff;
    }
    .menu-open li{
        display: inline;
        padding: 0 20px;
    }
    .menu-open{
        display: inline;
    }
    .item{
        width: 29%;
        padding: 1%;
        margin: 1%;
        display: inline-block;
        vertical-align: top;
    }
}


.chat{
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 20px;
    background-color: #075E54;
    width: 165px;
    border-radius: 15px;
    padding: 5px;
}

.chat a{
    color: #fff;
}

.chat i{
    font-size: 40px;
}

.slider{
    height: 350px;
    background: url(escritorio.jpeg)
    50% -95px / cover no-repeat fixed;
}